
body{
    background-color: #000016;
    width: 1280px;
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    color: #9C8D87;
    }

.first_screen{
  justify-content: center;
  margin-left: 0px
}

.main_title{
    color: #9C8D87;
    font-size: 110px;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    margin: 20px;
  }

  .castle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 680px;
    height: 752px;
    margin-left: 240px;
  }

  .castle_img {
    width: 100%;
    height: auto;
  }

  .font_text {
    color: #000;
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    margin-left: -550px;

  }
  .second_screen {
    position: relative;
    justify-content: center;
    margin: 100px;
    margin-left: 0px;
  }

  .letter_p {
position: absolute;
top: 0%;
color: #000;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 500;
width: 470px;
height: 368px;
transform: rotate(-16deg);
margin: 220px;
margin-left: 340px;
flex-shrink: 0;
  }

.third_screen {
width: 1280px;
height: 769px;
background-image: url("../img/third.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
 }

 .train_txt {
  color: #9C8D87;
font-size: 22px;;
font-weight: 800;
text-transform: uppercase;
padding: 80px 0;
padding-left: 300px;

 }
 
 .fourth_screen{
  justify-content: center;
  margin: 100px;
  margin-left: 0px;
 }
 .fifth_screen {
  width: 1280px;
height: 1200px;
background-image: url("../img/5экран.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
 }
.h1_lbl, .h2_lbl {
  color: #000;
font-size: 58px;
font-weight: 400;
text-transform: uppercase;
transform: rotate(31.34deg);
}

.h1_lbl{
  padding-left: 510px;
  padding-top: 300px;
}

.h2_lbl{
  padding-left: 450px;
  padding-top: 5px;
}

.sixth_screen{
  justify-content: center;
  margin: 100px 0;
  margin-left: 0px;
}

.six_box{
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 64px auto;
}

.six_img {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}



.p_flags_1{
  position: absolute;
  margin-left: 630px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.p_flags_2 {
  position: absolute;
  margin-left: 830px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.p_flags_3 {
  position: absolute;
  margin-left: 1000px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.p_flags_4 {
  position: absolute;
  margin-left: 1160px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform: capitalize;
}

.emblem_txt_1 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 470px;
  margin-left: 910px;
}
.emblem_txt_2 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 470px;
  margin-left: 1050px;
}
.emblem_txt_3 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 610px;
  margin-left: 910px;
}
.emblem_txt_4 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 612px;
  margin-left: 1075px;
}
.emblem_txt_5 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 550px;
  margin-left: 985px;
}

.emb_h2_1{
  position: absolute;
  top: 0;
  color: #9C8D87;
text-align: center;
font-size: 36px;
font-weight: 500;
align-items: end;
margin-top: 950px;
margin-left: 800px;
}

.emb_h2_2 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  align-items: end;
  margin-top: 1000px;
margin-left: 830px;
}

.emb_h2_3{
  position: absolute;
  top: 0;
  color: #9C8D87;
text-align: center;
font-size: 36px;
font-style: italic;
font-weight: 800;
align-items: end;
margin-top: 1050px;
margin-left: 820px;
}

.seven_screen {
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}
.h1_sev_screen {
  color: #9C8D87;
text-align: center;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
}


.spells {
  width: 1105px;
  height: 623px;
  margin-left: 64px;
  margin-top: 90px;
  background-image: url(../img/img_7.png);
  background-repeat: no-repeat;
background-position: center;
background-size: cover;
}

.spells_txt_h1 {
  color: #9C8D87;
font-size: 18px;
font-weight: 700;
font-variant: all-small-caps;
padding-left: 70px;
padding-top: 75px;
width: 267px;
height: 142px;
}

.spells_txt_h2 {
  color: #9C8D87;
font-size: 18px;
font-size: 15px;
font-style: italic;
font-weight: 400;
padding-left: 70px;
width: 268px;
height: 99.64px;

}

.spells_txt_h3 {
  color: #9C8D87;
font-size: 18px;
font-weight: 700;
font-variant: all-small-caps;
width: 267px;
height: 142px;
padding-left: 480px;
margin-top: -200px;
}

.spells_txt_h4{
  color: #9C8D87;
  width: 265px;
height: 189px;
font-size: 18px;
font-size: 15px;
font-style: italic;
font-weight: 400;
padding-left: 480px;
margin-top: -50px;
}

.eight_screen{
  width: 1220px;
  height: 805px;
  background-image: url("../img/book.png");
  margin-left: 60px;
  background-repeat: no-repeat;
background-position: center;
background-size: cover;
}
.letter_1, .letter_2, .letter_3, .letter_4, .letter_5, .letter_6  {
  transform: rotate(-7deg);
  font-size: 164px;
font-weight: 400;
}
.letter_1 {
  padding-left: 130px;
  padding-top: 20px;
}
.letter_2 {
  padding-left: 180px;
  margin-top: -100px;
}
.letter_3 {
  padding-left: 200px;
  margin-top: -100px;
}
.letter_4 {
  padding-left: 510px;
  margin-top: -680px;
}
.letter_5 {
  padding-left: 550px;
  margin-top: -120px;
}
.letter_6 {
  padding-left: 590px;
  margin-top: -120px;
}
.p_letter_1, .p_letter_2, .p_letter_3, .p_letter_4, .p_letter_5, .p_letter_6 {
  color: #9C8D87;
font-size: 24px;
font-weight: 500;
transform: rotate(-5deg);
} 

.p_letter_1 {
  padding-left: 280px;
  margin-top: -580px;
  width: 177.29px;
height: 97.679px;
}
.p_letter_2 { 
  padding-left: 300px;
 padding-top:  80px;
  width: 146px;
height: 62px;
}
.p_letter_3 {
  padding-left: 320px;
  padding-top: 110px;
  width: 173.128px;
height: 62px;
}
.p_letter_4 {
  padding-left: 650px;
  margin-top: -490px;
  width: 217px;
}
.p_letter_5 {
  padding-left: 685px;
  margin-top: 120px;
  width: 229px;
}
.p_letter_6 {
  padding-left: 720px;
  margin-top: 130px;
  width: 194px;
}

.nine_screen {
  justify-content: center;
margin-top: 100px;
}

.button {
  position: relative;
 text-align: center;
}

.button_img {
  width: 601px;
  height: 351.878px;
}

.button_txt {
  position: absolute;
  top: 0;
  color: #9C8D87;
text-align: center;
font-size: 40px;
font-weight: 500;
margin: 215px;
margin-left: 645px;
}

.city_img{
  margin-top: 95px;
  margin-left: 60px;
  width: 1157px;
height: 398px;
margin-bottom: 0;

}

.footer {
  width: 1280px;
  height: 322px;
  background-color: #000;
  text-align: start;
}
.group {
  color: #FFF;
font-size: 44px;
font-weight: 800;
padding-top: 140px;
margin: 0;
margin-left: 60px;
}
.name {
  color: #FFF;
font-size: 44px;
font-weight: 800;
margin-left: 60px;
}