
body{
    background-color: #000016;
    width: 1280px;
    font-family: "EB Garamond", sans-serif;
    font-optical-sizing: auto;
    color: #9C8D87;
    }

.first_screen{
  justify-content: center;
  margin-left: 0px
}

.main_title{
    color: #9C8D87;
    font-size: 110px;
    font-weight: 800;
    text-transform: uppercase;
    word-wrap: break-word;
    text-align: center;
    margin: 20px;
  }

  .castle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 680px;
    height: 752px;
    margin-left: 240px;
  }

  .castle_img {
    width: 100%;
    height: auto;
  }

  .font_text {
    color: #000;
    font-size: 50px;
    font-style: italic;
    font-weight: 800;
    margin-left: -550px;

  }
  .second_screen {
    position: relative;
    justify-content: center;
    margin: 100px;
    margin-left: 0px;
  }

  .letter_p {
position: absolute;
top: 0%;
color: #000;
text-align: center;
font-size: 28px;
font-style: normal;
font-weight: 500;
width: 470px;
height: 368px;
transform: rotate(-16deg);
margin: 220px;
margin-left: 340px;
flex-shrink: 0;
  }

 .third_sreen{
  position: relative; 
  justify-content: center;
  margin: 100px;
  margin-left: 0px;

 } 


 .train_txt{
color: #9C8D87;
top: 0%;
font-size: 22px;
font-weight: 800;
text-transform: uppercase;
margin: 81px;
margin-left: 302px;
 }
 .fourth_screen{
  justify-content: center;
  margin: 100px;
  margin-left: 0px;
 }
 .fifth_screen {
  justify-content: center;
  margin: 100px;
  margin-left: 0px;
 }
.sixth_screen{
  justify-content: center;
  margin: 100px 0;
  margin-left: 0px;
}

.six_box{
  position: relative;
  width: 100%;
  height: 100%;
  margin-left: 64px auto;
}

.six_img {
  width: 100%;
  height: 100%;
  margin-left: 30px;
}



.p_flags_1{
  position: absolute;
  margin-left: 630px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform capitalize;
}

.p_flags_2 {
  position: absolute;
  margin-left: 830px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform capitalize;
}

.p_flags_3 {
  position: absolute;
  margin-left: 1000px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform capitalize;
}

.p_flags_4 {
  position: absolute;
  margin-left: 1160px;
top: 0;
text-align: center;
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  text-transform capitalize;
}

.emblem_txt_1 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 470px;
  margin-left: 910px;
}
.emblem_txt_2 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 470px;
  margin-left: 1050px;
}
.emblem_txt_3 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 610px;
  margin-left: 910px;
}
.emblem_txt_4 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 612px;
  margin-left: 1075px;
}
.emblem_txt_5 {
  position: absolute;
  top: 0;
  color: #9C8D87;
  text-align: center;
  font-size: 58px;
  font-weight: 400;
  margin: 550px;
  margin-left: 985px;
}

.seven_screen {
  justify-content: center;
  text-align: center;
  margin: 100px 0;
}
.h1_sev_screen {
  color: #9C8D87;
text-align: center;
font-size: 40px;
font-weight: 700;
text-transform: uppercase;
}


.spells {
  position: relative;
  width: 100%;
  height: 100%;
}

.title_p1 {
  color: #9C8D87;
text-align: center;
font-size: 18px;
font-weight: 700;
line-height: normal;
font-variant: all-small-caps;
}




